<div class="svgWrapper">
    <img id="svg1" class="svg" src="img/blob-shape.svg" alt="random blob-shape">
    <img id="svg2" class="svg" src="img/blob-shape (1).svg" alt="random blob-shape">
    <img id="svg3" class="svg" src="img/blob-shape (2).svg" alt="random blob-shape">
    <img id="svg4" class="svg" src="img/blob-shape (3).svg" alt="random blob-shape">
</div>

<div class="centerWrapper">
    <div class="headerWrapper">
        <div class="headerOptionBox">
            <h2 class="headerOption">
                Contact
            </h2>
        </div>
        <div class="headerOptionBox">
            <h2 class="headerOption">
                Resumé
            </h2>
        </div>
    </div>
    <div class="centerBox startPage">

        <div class="centerTitleBox">
            <h1 id="startPageHeader" class="centerTitle">I'm Alexander,</h1>
            <h2 id="centerSubTitle">a master student in cognitive science
                with an interest in UX-design and web development.
            </h2>
        </div>
    </div>
    <div class="fallingArrow" data-aos="fade-up" data-aos-delay="2500" data-aos-duration="500">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="about" class="centerWrapper" style="position: relative">
    <div class="svgWrapper">
        <img id="svg1" class="svg" src="img/blob-shape.svg" alt="random blob-shape">
        <img id="svg2" class="svg" src="img/blob-shape (1).svg" alt="random blob-shape">
        <img id="svg3" class="svg" src="img/blob-shape (2).svg" alt="random blob-shape">
        <img id="svg4" class="svg" src="img/blob-shape (3).svg" alt="random blob-shape">
    </div>
    <div class="stackInfoBox">

        <h2 id="projectsTextBox" class=" stackText" style="margin-bottom: 20px" data-aos="fade-up"
            data-aos-duration="600" data-aos-delay="150">
            In order to realise my projects I use UX-design with web development to go the full length.
            Here are some of the tools I use!
        </h2>

        <div class="logoBox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="450">
            <img class="logoImg" src="img/logo-javascript.svg" alt="JS Logo">
            <img class="logoImg" src="img/scssLogo.svg" alt="SASS Logo">
            <img class="logoImg" src="img/html-5.svg" alt="HTML5 Logo">
            <img class="logoImg" src="img/firebase-1.svg" alt="Firebase Logo">
            <img class="logoImg" src="img/angular-icon-1.svg" alt="AngularJS Logo">

        </div>

    </div>
</div>

<div id="portfolio" class="centerWrapper" style="position: relative">

    <div class="stackInfoBox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250" id="projectsTextBox">
        <h2 class="stackText" style="margin-bottom: 20px">
            ... and these are the projects I have worked on!
        </h2>

    </div>
    <div class="projectBox">
        <div class="projectCard" data-aos="fade-up" data-aos-duration="750" data-aos-delay="250">
            <h1 class="projectTitle">
                Kaffe-X
            </h1>
            <div class="cardWrapper" id="coffeeProj">

                <div class="backgroundFilter" ng-class="{'hover':hovering}" ng-mouseenter="hovering=true"
                    ng-mouseleave="hovering=false">
                    <p class="projectDescription" ng-class="{'active': hovering}">
                        A student project in a course on interaction design - 50 ways to get coffee: Exploration,
                        Prototyping and Animating.

                    </p>
                    <a href="#!kaffe"><button class="standardButton projectButton" ng-class="{'active': hovering}">
                            Explore!
                        </button> </a>
                </div>

            </div>
        </div>

        <div class="projectCard" data-aos="fade-up" data-aos-duration="750" data-aos-delay="350">
            <h1 class="projectTitle">
                Nappn
            </h1>
            <div class="cardWrapper" id="nappnProj">
                <div class="backgroundFilter" ng-class="{'hover':hoveringNappn}" ng-mouseenter="hoveringNappn=true"
                    ng-mouseleave="hoveringNappn=false">
                    <p class="projectDescription" ng-class="{'active': hoveringNappn}">
                        Design and development of a mobile application for new students
                        to use during their reception period.

                    </p>
                    <a href="#!nappn"><button class="standardButton projectButton" ng-class="{'active': hoveringNappn}">
                            Explore!
                        </button></a>
                </div>

            </div>
        </div>
    </div>

</div>